<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kite.libai.provider.account.mapper.TripartiteAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kite.libai.provider.account.model.entity.TripartiteAccount">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="app_code" property="appCode"/>
        <result column="app_id" property="appId"/>
        <result column="open_id" property="openId"/>
        <result column="union_id" property="unionId"/>
        <result column="mobile" property="mobile"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="country" property="country"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="account_id" property="accountId"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , type, app_code, app_id, open_id, union_id, mobile, nickname, gender, avatar, country, province, city, account_id, created_at, created_by, updated_at, updated_by
    </sql>

</mapper>
