# Git 相关
.git
.gitignore
.github

# 本地 Gradle 缓存（这个可以保留，因为容器编译不需要本地的 .gradle 缓存）
**/.gradle

# IDE
.idea
.vscode
*.iml

# 日志
logs
*.log
*.out

# 文档
docs

# 环境文件
.env
*.properties.local

# Docker自身
Dockerfile
.dockerignore