<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kite.libai.provider.message.mapper.ChatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kite.libai.provider.message.model.entity.Chat">
        <id column="id" property="id"/>
        <result column="last_msg_id" property="lastMsgId"/>
        <result column="last_content" property="lastContent"/>
        <result column="lasted_at" property="lastedAt"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , last_msg_id, last_content, lasted_at, created_at
    </sql>

</mapper>
