<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kite.libai.provider.community.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kite.libai.provider.community.model.entity.Article">
        <id column="id" property="id"/>
        <result column="author_id" property="authorId"/>
        <result column="type" property="type"/>
        <result column="author_type" property="authorType"/>
        <result column="title" property="title"/>
        <result column="subtitle" property="subtitle"/>
        <result column="cover" property="cover"/>
        <result column="pictures" property="pictures"/>
        <result column="excerpt" property="excerpt"/>
        <result column="detail" property="detail"/>
        <result column="video" property="video"/>
        <result column="video_length" property="videoLength"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , author_id, type, author_type, title, subtitle, cover, pictures, excerpt, detail, video, video_length, created_at, updated_at
    </sql>

</mapper>
