<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kite.libai.provider.community.mapper.TopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kite.libai.provider.community.model.entity.Topic">
        <id column="id" property="id"/>
        <result column="category" property="category"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="orders" property="orders"/>
        <result column="reads" property="reads"/>
        <result column="mentions" property="mentions"/>
        <result column="authors" property="authors"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , category, icon, name, description, orders, reads, mentions, authors, created_at, updated_at
    </sql>

</mapper>
